<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cqu.wwt.surveynew">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Question_1" />
        <activity android:name=".Question_2" />
        <activity android:name=".Question_3" />
        <activity android:name=".Question_4" />
        <activity android:name=".Question_5" />
        <activity android:name=".Question_6" />
        <activity android:name=".Question_7" />
        <activity android:name=".Question_8" />
        <activity android:name=".Question_9" />
        <activity android:name=".Question_10" />
        <activity android:name=".Question_11" />
        <activity android:name=".Question_12"/>
    </application>

</manifest>